{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in `resources/css/peak.css`. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main class="page-builder" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
    {{ if links }}
        <section class="fluid-grid">
            <ul class="span-content flex flex-wrap gap-3">
                {{ links }}
                    <li {{ visual_edit }}>
                        <a href="{{ link_url }}" class="inline-block px-4 py-2 border border-neutral/20 rounded hover:border-neutral/40 transition-colors">{{ label }}</a>
                    </li>
                {{ /links }}
            </ul>
        </section>
    {{ /if }}
</main>
<!-- End: /default.antlers.html -->
