/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.phpunit*.cache

/public/_build/
/storage/forms
/public/vendor/statamic-visual-editor/build/

# Playwright
/tests/e2e/.auth/
/playwright-report/
/test-results/
